@model OrderDetailsViewModel

@{
    ViewData["Title"] = "Xóa đơn hàng";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Đơn hàng</h4>
    <hr />
    <div class="row">
        <dl class="col-md-5 row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ID)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ThoiGianTao)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ThoiGianTao)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
        <dl class="col-md-5 row">
            <dt class="col-sm-4">Tổng tiền</dt>
            <dd class="col-sm-8">@String.Format("{0:### ### ### VND}", Model.LayTongTien())</dd>

            <dt class="col-sm-4">Tax (10%)</dt>
            <dd class="col-sm-8">@String.Format("{0:### ### ### VND}", Model.LayTongTien() * 10 / 100)</dd>

            <dt class="col-sm-4">Thành tiền</dt>
            <dd class="col-sm-8">@String.Format("{0:### ### ### VND}", Model.LayTongTien() * 110 / 100)</dd>
        </dl>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Xóa</button> |
        <a asp-action="Index"><i class="fas fa-undo-alt"></i> Trở về danh sách</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("KichHoatDieuHuongScriptsPartial.cshtml", "DH");
    }
}