@model List<UserInRoleViewModel>

@{
    ViewData["Title"] = "Sửa quyền hạn";
}

<form method="post">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5>Thêm hoặc gỡ người dùng từ quyền hạn "@ViewBag.roleTen"</h5>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <input asp-for="@Model[i].TaiKhoan" value="@Model[i].TaiKhoan" type="hidden" />
                    <div class="form-check m-1">
                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        <label asp-for="@Model[i].IsSelected" class="form-check-label col-md-5">
                            Tài khoản: @Model[i].TaiKhoan
                        </label>
                        <label asp-for="@Model[i].IsSelected" class="form-check-label col-md-6">
                            Họ và tên: @Model[i].Ten
                        </label>
                        <hr />
                    </div>
                }
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Cập nhật</button> |
                <a asp-action="ListRoles"><i class="fas fa-undo-alt"></i> Trở về</a>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("KichHoatDieuHuongScriptsPartial.cshtml", "NDQH");
    }
}