@model CountByProductMonthViewModel

@{
    ViewData["Title"] = "Thống kê sản phẩm theo tháng năm";
}

@section Styles
{
    @{
        await Html.RenderPartialAsync("ThuVienBangStylespartial.cshtml");
    }
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thống kê sản phẩm đã bán theo tháng năm</h6>
        <div style="margin-top:20px;">
            <form method="post">
                <div class="ml-md-5 row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-3 form-group">
                        <label asp-for="Thang" class="d-inline control-label"></label>
                        <select asp-for="Thang" class="d-inline ml-1 form-control w-75" asp-items="ViewBag.Months"></select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label asp-for="Nam" class="d-inline ml-2 control-label"></label>
                        <select asp-for="Nam" class="d-inline ml-1 form-control w-75" asp-items="ViewBag.Years"></select>
                    </div>
                    <div class="col-md-4 form-group">
                        <button type="submit" class="btn btn-outline-primary"><i class="fab fa-searchengin"></i> Thống kê</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dtProductCount" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th class="text-right">Giá</th>
                        <th class="text-right">Số lượng</th>
                        <th class="text-right">Tạm tính</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ten)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.Gia)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.SoLuong)
                            </td>
                            <td class="text-right">
                                @item.LayTamTinh()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer py-3 text-right">
        <h4 class="d-inline m-0 font-weight-bold text-primary">Tổng tiền:</h4>
        <h4 class="d-inline ml-2 font-weight-bold text-primary">@String.Format("{0:### ### ### ### ### VND}", Model.LayTongTien())</h4>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("ThuVienBangScriptsPartial.cshtml");
        await Html.RenderPartialAsync("KichHoatBangScriptsPartial.cshtml");
        await Html.RenderPartialAsync("KichHoatDieuHuongScriptsPartial.cshtml", "TKSPT");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}